name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows manual triggering of the workflow  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code 
        uses: actions/checkout@v4
      # commented out Maven build steps since Dockerfile handles the build
      ##- name: Set up JDK 17
        ##uses: actions/setup-java@v4
        ##with:
          ##distribution: temurin
          ##java-version: 17
      ##- name: Build with Maven
        ##run: mvn -B package --file pom.xml
      - name: Build Docker Image
        run: docker build -t spring-boot-app-image .
