name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows manual triggering of the workflow  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code 
        uses: actions/checkout@v4

      - name: configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: |  
          docker build -t ${{secrets.ECR_REPO }}:latest .

      - name: Push Docker Image to ECR
        run: |
          docker tag ${{secrets.ECR_REPO }}:latest ${{secrets.ECR_REPO }}:latest
          docker push ${{secrets.ECR_REPO }}:latest

    deploy:
      needs: build
      runs-on: ubuntu-latest

      steps:
        - name: Deploy via SSH to EC2
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.EC2_HOST }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.SSH_PRIVATE_KEY_EC2 }}
            script: |
              docker pull ${{secrets.ECR_REPO }}:latest
              # Create a docker-compose.yml file to run the container
              docker compose up -d --force-recreate
              
              #docker stop spring-boot-app || true
              #docker rm spring-boot-app || true
              #docker run -d --name spring-boot-app -p 8080:80 ${{secrets.ECR_REPO }}:latest
